@use 'base/variables' as v;
@use 'base/mixins' as m;

/* estilos al banner */
.hero {
    animation: banner 10s infinite linear alternate;
    background-size: cover;
    height: 65rem;
    padding: 2rem;
    margin-bottom: 2rem;
  
  }
  
  .contenido-hero {
    background-color: rgb(0 0 0 / 5%);
    width: 100%;
    height: 100%;
    padding: 3rem;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .contenido-hero h2{
    font-family: v.$fuente_principal;
    color: v.$blanco;
    text-align: left;
  }

  .contenido-hero p{
    font-family: v.$fuente_principal;
    font-size: 2.5rem;
    font-weight: bold;
    color: v.$blanco;
  }
  
  @keyframes banner {
  
    0%,
    17% {
      background-image: url(../../src/img/banner1.jpeg);
      background-repeat: no-repeat;
    }
  
    18%,
    35% {
      background-image: url(../../src/img/banner2.jpeg);
      background-repeat: no-repeat;
    }
  
    36%,
    53% {
      background-image: url(../../src/img/banner3.jpeg);
      background-repeat: no-repeat;
    }
  
    54%,
    71% {
      background-image: url(../../src/img/banner4.jpeg);
      background-repeat: no-repeat;
    }
  
    72%,
    89% {
      background-image: url(../../src/img/banner5.jpeg);
      background-repeat: no-repeat;
    }
  
    90%,
    100% {
      background-image: url(../../src/img/banner6.jpeg);
      background-repeat: no-repeat;
    }
  }

  /* estilo para los botones */
.boton {
    background-color: v.$negro;
    color: v.$blanco;
    margin-top: 1rem;
    padding: 1rem 3rem;
    border-radius: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    width: 80%;
    text-align: center;
    border: none;
  }
  
  .boton:hover {
    // background-color: v.$blanco;
    // color: v.$negro;
    // cursor: pointer;
    color: v.$amarillo;
    transform: scale(1.2);
  }
  
@include m.tablet{
  .boton {
    width: auto;
  }
}
