@use 'base/variables' as v;
@use 'base/mixins' as m;

/* boton de whats */
.btn-wsp {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background-color: v.$accent_secondary;
    color: v.$blanco;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    box-shadow: 0 10px 20px rgba(16, 185, 129, 0.4);
    z-index: 1000;
    transition: v.$transition_mid;

    &:hover {
        transform: scale(1.1) rotate(10deg);
        background-color: darken(#10b981, 5%);
    }

    svg {
        width: 3.5rem;
        height: 3.5rem;
    }
}