@use 'base/variables' as v;
@use 'base/mixins' as m;

.galeria {
    padding: 8rem 0;

    h3 {
        color: v.$blanco;
        margin-bottom: 5rem;
    }

    &-imagenes {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
        gap: 1.5rem;

        picture img {
            border-radius: 1rem;
            cursor: pointer;
            transition: v.$transition_fast;
            aspect-ratio: 1/1;
            object-fit: cover;

            &:hover {
                filter: brightness(1.2);
                transform: scale(1.05);
            }
        }
    }
}

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(2, 6, 23, 0.95);
    display: grid;
    place-items: center;
    z-index: 2000;
    animation: fadeIn 0.3s ease;

    &.fade-out {
        animation: fadeOut 0.3s ease forwards;
    }

    img {
        max-width: 90vw;
        max-height: 80vh;
        border-radius: 1.5rem;
        box-shadow: 0 0 50px rgba(0,0,0,0.8);
    }
}

.btn-cerrar {
    position: absolute;
    top: 3rem;
    right: 3rem;
    background: v.$accent_tertiary;
    color: v.$blanco;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 2.5rem;
    font-weight: 900;
    border: none;
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: v.$transition_fast;

    &:hover {
        transform: scale(1.1);
        background-color: darken(#f53756, 10%);
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}




